{{!-- Actions Tab: DnDBeyond-style with per-type sections --}}
<div class="bcs-actions">
  {{!-- Sub-filter pills --}}
  <div class="bcs-action-filters">
    <button class="bcs-filter-pill active" data-action-filter="all">ALL</button>
    <button class="bcs-filter-pill" data-action-filter="attack">ATTACK</button>
    <button class="bcs-filter-pill" data-action-filter="action">ACTION</button>
    <button class="bcs-filter-pill" data-action-filter="bonus">BONUS ACTION</button>
    <button class="bcs-filter-pill" data-action-filter="reaction">REACTION</button>
    <button class="bcs-filter-pill" data-action-filter="other">OTHER</button>
    <button class="bcs-filter-pill" data-action-filter="limited">LIMITED USE</button>
  </div>

  {{!-- ATTACK section --}}
  <div class="bcs-action-section" data-action-type="attack">
    <div class="bcs-action-section-header">ACTIONS</div>
    {{#if attacks.length}}
    <table class="bcs-attack-table">
      <thead>
        <tr>
          <th class="col-name">Attack</th>
          <th class="col-range">Range</th>
          <th class="col-hit">Hit / DC</th>
          <th class="col-damage">Damage</th>
          <th class="col-notes">Notes</th>
        </tr>
      </thead>
      <tbody>
        {{#each attacks}}
        <tr class="bcs-attack-row" data-item-id="{{id}}">
          <td class="col-name">
            <div class="bcs-attack-name-cell">
              <img src="{{img}}" alt="" class="bcs-item-icon" />
              <div>
                <span class="bcs-attack-name">{{name}}</span>
                <span class="bcs-attack-source">{{source}}</span>
              </div>
            </div>
          </td>
          <td class="col-range">{{range}}</td>
          <td class="col-hit">{{toHit}}</td>
          <td class="col-damage">{{damage}}</td>
          <td class="col-notes">{{notes}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}

    <div class="bcs-combat-ref">
      <strong>Actions in Combat</strong>
      <div class="bcs-combat-ref-list">
        <span class="bcs-combat-action" data-action-name="Attack" data-action-desc="You make one melee or ranged attack. When you take the Attack action, you can also replace one attack with a Grapple or Shove.">Attack</span>,
        <span class="bcs-combat-action" data-action-name="Dash" data-action-desc="You gain extra movement equal to your Speed for the current turn.">Dash</span>,
        <span class="bcs-combat-action" data-action-name="Disengage" data-action-desc="Your movement doesn't provoke Opportunity Attacks for the rest of the current turn.">Disengage</span>,
        <span class="bcs-combat-action" data-action-name="Dodge" data-action-desc="Until the start of your next turn, attacks against you have Disadvantage and you have Advantage on DEX saving throws. You lose this benefit if Incapacitated or your Speed is 0.">Dodge</span>,
        <span class="bcs-combat-action" data-action-name="Help" data-action-desc="You give Advantage to one ally's next ability check or attack roll against a target within 5 feet of you.">Help</span>,
        <span class="bcs-combat-action" data-action-name="Hide" data-action-desc="You make a DEX (Stealth) check to try to become Hidden.">Hide</span>,
        <span class="bcs-combat-action" data-action-name="Magic" data-action-desc="You cast a spell, use a magic item, or use a magical feature.">Magic</span>,
        <span class="bcs-combat-action" data-action-name="Ready" data-action-desc="You prepare to take an action in response to a trigger you define. You use your Reaction to execute it.">Ready</span>,
        <span class="bcs-combat-action" data-action-name="Search" data-action-desc="You make a WIS (Perception) or INT (Investigation) check to find something.">Search</span>,
        <span class="bcs-combat-action" data-action-name="Study" data-action-desc="You make an INT (Arcana, History, Investigation, Nature, or Religion) check to study a creature, object, or area.">Study</span>,
        <span class="bcs-combat-action" data-action-name="Utilize" data-action-desc="You use a nonmagical object or interact with an object that requires your action.">Utilize</span>
      </div>
    </div>
  </div>

  {{!-- BONUS ACTION section --}}
  <div class="bcs-action-section" data-action-type="bonus">
    <div class="bcs-action-section-header">BONUS ACTIONS</div>
    <div class="bcs-combat-ref">
      <strong>Actions in Combat</strong>
      <div class="bcs-combat-ref-list">
        <span class="bcs-combat-action" data-action-name="Two-Weapon Fighting" data-action-desc="When you take the Attack action with a Light melee weapon, you can make one extra attack as a Bonus Action with a different Light melee weapon. You don't add your ability modifier to the damage of the extra attack unless that modifier is negative.">Two-Weapon Fighting</span>
      </div>
    </div>
    {{#if bonusSpells.length}}
    <div class="bcs-action-spells-ref">
      <strong>Spells</strong>
      <div class="bcs-action-spells-list">
        {{#each bonusSpells}}<span class="bcs-action-spell-ref" data-spell-name="{{name}}"><em>{{name}}</em> ({{levelLabel}}){{#unless @last}}, {{/unless}}</span>{{/each}}
      </div>
    </div>
    {{/if}}
  </div>

  {{!-- REACTION section --}}
  <div class="bcs-action-section" data-action-type="reaction">
    <div class="bcs-action-section-header">REACTIONS</div>
    <div class="bcs-combat-ref">
      <strong>Actions in Combat</strong>
      <div class="bcs-combat-ref-list">
        <span class="bcs-combat-action" data-action-name="Opportunity Attack" data-action-desc="When a creature you can see leaves your reach, you can use your Reaction to make one melee attack against it. This attack occurs right before the creature leaves your reach.">Opportunity Attack</span>
      </div>
    </div>
    {{#if reactionSpells.length}}
    <div class="bcs-action-spells-ref">
      <strong>Spells</strong>
      <div class="bcs-action-spells-list">
        {{#each reactionSpells}}<span class="bcs-action-spell-ref" data-spell-name="{{name}}"><em>{{name}}</em> ({{levelLabel}}){{#unless @last}}, {{/unless}}</span>{{/each}}
      </div>
    </div>
    {{/if}}
  </div>

  {{!-- OTHER section --}}
  <div class="bcs-action-section" data-action-type="other">
    <div class="bcs-action-section-header">OTHER</div>
    <div class="bcs-combat-ref">
      <strong>Actions in Combat</strong>
      <div class="bcs-combat-ref-list">
        <span class="bcs-combat-action" data-action-name="Interact with an Object" data-action-desc="You interact with a second object for free on your turn (the first is free). Examples: draw or sheathe a weapon, open a door, pick up a dropped item.">Interact with an Object</span>
      </div>
    </div>
    {{#if otherSpells.length}}
    <div class="bcs-action-spells-ref">
      <strong>Spells</strong>
      <div class="bcs-action-spells-list">
        {{#each otherSpells}}<span class="bcs-action-spell-ref" data-spell-name="{{name}}"><em>{{name}}</em> ({{levelLabel}}){{#unless @last}}, {{/unless}}</span>{{/each}}
      </div>
    </div>
    {{/if}}
    {{#if ritualSpells.length}}
    <div class="bcs-action-spells-ref">
      <strong>Ritual Spells</strong>
      <div class="bcs-action-spells-list">
        {{#each ritualSpells}}<span class="bcs-action-spell-ref" data-spell-name="{{name}}"><em>{{name}}</em> ({{levelLabel}}){{#unless @last}}, {{/unless}}</span>{{/each}}
      </div>
    </div>
    {{/if}}
  </div>

  {{!-- Features across all activation types --}}
  {{#each actionFeatures}}
  <div class="bcs-action-feature {{#if isChild}}bcs-action-child{{/if}}" data-item-id="{{id}}" {{#if activityId}}data-activity-id="{{activityId}}"{{/if}} data-action-type="{{activationType}}" data-limited="{{#if uses}}true{{/if}}">
    <div class="bcs-action-feature-header">
      <span class="bcs-action-feature-name">{{name}}</span>
      {{#if activationLabel}}<span class="bcs-action-feature-timing">({{activationLabel}})</span>{{/if}}
    </div>
    {{#if truncatedDescription}}
    <div class="bcs-action-feature-desc-truncated" data-item-id="{{id}}" {{#if activityId}}data-activity-id="{{activityId}}"{{/if}}>{{truncatedDescription}}</div>
    {{/if}}
    {{#if uses}}
    <div class="bcs-action-feature-uses">
      {{#if useNumericDisplay}}
      <div class="bcs-uses-numeric-group">
        <button class="bcs-uses-btn bcs-uses-minus">−</button>
        <span class="bcs-uses-numeric">{{uses.remaining}} / {{uses.max}}</span>
        <button class="bcs-uses-btn bcs-uses-plus">+</button>
      </div>
      {{else}}
      {{#each pips}}
      <span class="bcs-feat-pip {{#if filled}}filled{{/if}}"></span>
      {{/each}}
      {{/if}}
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
