{{!-- Extras Tab: Conditions, resistances, miscellaneous --}}
<div class="bcs-extras">
  {{!-- Conditions / Exhaustion --}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Conditions</h4>
    <div class="bcs-exhaustion">
      <span class="bcs-extras-label">Exhaustion:</span>
      <span class="bcs-extras-value">{{system.attributes.exhaustion}}</span>
    </div>
  </div>

  {{!-- Resistances / Immunities --}}
  {{#if resistances.length}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Damage Resistances</h4>
    <div class="bcs-extras-list">
      {{#each resistances}}<span class="bcs-extras-tag">{{this}}</span>{{/each}}
    </div>
  </div>
  {{/if}}

  {{#if immunities.length}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Damage Immunities</h4>
    <div class="bcs-extras-list">
      {{#each immunities}}<span class="bcs-extras-tag">{{this}}</span>{{/each}}
    </div>
  </div>
  {{/if}}

  {{#if conditionImmunities.length}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Condition Immunities</h4>
    <div class="bcs-extras-list">
      {{#each conditionImmunities}}<span class="bcs-extras-tag">{{this}}</span>{{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Hit Dice --}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Hit Dice</h4>
    <div class="bcs-extras-value">{{system.attributes.hd.value}} / {{system.attributes.hd.max}}</div>
  </div>

  {{!-- Attunement --}}
  {{#if attunableItems.length}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Attunement ({{attunementCount}} / {{attunementMax}})</h4>
    <div class="bcs-attunement-list">
      {{#each attunableItems}}
      <div class="bcs-attunement-item" data-item-id="{{id}}">
        <span class="bcs-attune-check {{#if attuned}}attuned{{/if}}"></span>
        <img src="{{img}}" alt="" class="bcs-item-icon" />
        <span class="bcs-attunement-name">{{name}}</span>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- Death Saves --}}
  <div class="bcs-extras-section">
    <h4 class="bcs-extras-title">Death Saves</h4>
    <div class="bcs-death-saves">
      <span class="bcs-ds-label">Successes:</span>
      <span class="bcs-ds-pips">
        <span class="bcs-ds-pip {{#if system.attributes.death.success}}success{{/if}}" data-ds-type="success" data-ds-index="1">●</span>
        <span class="bcs-ds-pip {{#if (gte system.attributes.death.success 2)}}success{{/if}}" data-ds-type="success" data-ds-index="2">●</span>
        <span class="bcs-ds-pip {{#if (gte system.attributes.death.success 3)}}success{{/if}}" data-ds-type="success" data-ds-index="3">●</span>
      </span>
      <span class="bcs-ds-label">Failures:</span>
      <span class="bcs-ds-pips">
        <span class="bcs-ds-pip {{#if system.attributes.death.failure}}failure{{/if}}" data-ds-type="failure" data-ds-index="1">●</span>
        <span class="bcs-ds-pip {{#if (gte system.attributes.death.failure 2)}}failure{{/if}}" data-ds-type="failure" data-ds-index="2">●</span>
        <span class="bcs-ds-pip {{#if (gte system.attributes.death.failure 3)}}failure{{/if}}" data-ds-type="failure" data-ds-index="3">●</span>
      </span>
      <button type="button" class="bcs-ds-roll-btn" title="Roll Death Save">
        <i class="fas fa-dice-d20"></i>
      </button>
    </div>
  </div>
</div>
